h1 {
    margin: 16px;
}

input[type=text] {
    width: 40vw;
}

a {
    margin: 0 16px 0 16px;
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.latests {
    width: 100%;
    margin: 16px;
    text-align: center;
}
